<div class="container-myphoto">
	<div class="empty-myphoto"></div>
	<div class="title-myphoto">{{ t('profile', 'Здесь будет отображаться Ваш фотовиджет') }}</div>
	<div class="description-myphoto">{{ t('profile', 'активируется при загрузке больше 7 фотографий') }}</div>
	
	<div class="addphoto"><span class="addphoto-help">{{ t('profile', 'добавить фото') }}</span></div>

</div>

 

