<div id="gallery-popup" class="shadow gallery">
    <div class="gradirnt-bg"></div>

    <div class="gal-popup-wrap">
            {% include '@app/modules/frontend/views/photo/index.twig' %}
    </div>

</div>