<div class="ticket-notice">
<center>
    <div class="title-help"><p>Thank You !</p></div>
    <div class="description_help"><span>We will review your question and be sure 
to contact you!</span></div>
</center>
</div>