{% extends '@frontend/views/layouts/frontend.twig' %}

{% block cssFiles %}
    {{ parent() }}
{% endblock %}

{% block scriptFiles %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <h1>Hello world!</h1>
{% endblock %}


{% block scripts %}
    {{ parent() }}
{% endblock %}