<div class="password-area escort-password escort-account-settings">
    <div class="password-settings">

        <div class="header">{{ t('base', 'Пароль') }}</div>
        <div class="content">
            <div class="password-container">

                <div class="pass-lock">
                    <img src="/frontend/img/pass-lock.png" alt=""/>
                </div>

                {% include '@app/modules/frontend/views/account/changePasswordForm.twig' %}

            </div>
        </div>

    </div>
</div>