<div class="account-area escort-account escort-account-settings">
    <div class="account-settings">

        <div class="header">{{ t('base', 'Community Guidelines') }}</div>

        <div class="content">
            <div class="content-text">
            <p>The site <a href="http://www.vicesisters.com">http://www.vicesisters.com</a> allowes to:</p>
            <br>

<p><b>1.</b> Post your own photos and videos;</p>
<p><b>2.</b> Show respect to all the visitors of this resource;</p>
<p><b>3.</b> Treat others the way you want them to treat you;</p>
<p><b>4.</b> Communicate honestly and to the point.</p>
<br>

<p>Important: self-promotion or commercial offers of any kind are rarely perceived well. Users often notice when you publish the same material elsewhere or subscribe to a large number of accounts just to get subscribers in respond. So be sincere when communicating on our site.</p>
<p>On <a href="http://www.vicesisters.com">http://www.vicesisters.com</a> one is not allowed to:</p>
<br>

<p><b>1</b> Send unsolicited messages (spam);</p>
<p><b>2</b> Share photos and videos that will have a negative impact on the audience, regardless of their age and gender;</p>
<p><b>3</b> Share false photos or videos;</p>
<p><b>4</b> Share pictures or videos that contain illegal material.</p>
<br>

<p>Important: if our website gets complaints from the users that you publish banned or illegal material, including photos or videos that demonstrate the extreme forms of violence and bloody scenes, we may disable your account and take appropriate actions, which may also include treatment to law enforcement. In addition, it is impossible and not allowed to do any transaction related to the controlled goods on our platform. If your photos or videos contain proposals for the sale of regulated goods and services (eg, firearms, alcohol, tobacco, drugs, prescriptions), and products for adults, you should respect the laws and encourage others to follow your lead.</p>
<p>*** Violation of the rules can lead to disabling your account or termination of access to Vicesisters without notice!!!</p>
<br>

<p>If you think that you may have problems with the implementation of the rules above, we recommend you to find another photo-sharing service, as Vicesisters may not be the right place for you. We appreciate these rules and we hope that they will help Vicesisters to stay safe and to be an enjoyable place for all the visitors.</p>
<br>

<p>Get pleasure from communication on the VICESISTERS site!</p>
        </div>
        </div>

    </div>
</div>