<li>
    <div class="user-ava-status">
        <img src="{{ app.user.ava }}" alt=""/>
        <!--<div class="user-status"></div>-->
    </div>
    <div class="message-text">
        <div class="triangle"></div>
        <span>{{ message.date }}</span>
        <p class="message-container">
            {{ message.text }}
        </p>
    </div>
</li>