<div class="title">{{ t('account', 'Подсказки по аккаунту') }}:</div>
<div class="footer-text">
    {{ t('account', 'Лучший способ для пользователей, чтобы найти эскорт они желают
     для Вас, чтобы быть максимально конкретными, как вы можете о себе
     и ваши услуги. Чем больше строчек вы заполните
     больше клиенты будут знать.
     Вы заметите опалубку бронирования уже проверили
     "включить". эта функция для пользователей, чтобы иметь возможность забронировать
     Ваши услуги в режиме онлайн через ViceSisters.Электронный адрес
    заказ будет отправлен непосредственно вам, чтобы вы
     может подтвердить или согласовать условия сделки. Если вы
     не хотите, чтобы эта услуга быть активным просто
     снимите флажок.') }}
</div>