<div class="travel-area escort-travels escort-account-settings">
    <div class="travel-settings">
        <div class="header">{{ t('account', 'Путешествия') }}</div>
        <div class="content">
            <div class="travel-container">
                <img src="/frontend/img/travel_img.jpg" alt="" />
                <div class="travel-content">
                    {% include '@app/modules/frontend/views/account/travelsForm.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>