{% extends '@frontend/views/layouts/main.twig' %}

{% block scriptFiles %}
    {{ parent() }}
    <script src="{{ '/frontend/js/pages/feed.js' }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>FEED</h1>
    {% include '@app/modules/frontend/views/escort/_feedMessages.twig' %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    Feed.init();
{% endblock %}