<div class="account-area escort-account escort-account-settings helpStep2-new">
    <div class="account-settings">
    	<div class="header"><span>{{ t('base', 'Report a Problem') }}</span></div>
        <div class="content step2">
        <center>
        	<div class="inputs-area">
	        	

				
        		<div class="inputs">
				<label for="e-mail">E-Mail</label>
				<input type="text" id="e-mail" />

				<label for="name">Name</label>
				<input type="text" id="name" />
				</div>

				<div class="massage">
				<label for="message">Message</label>
				<input type="text" id="message" />
	        	</div>

	        	<div class="your">
	        	<label for="your">Your question or a comment</label>
				<textarea name="text" id="your"></textarea>
	        	</div>

	        	<button>Send</button>
	        </div>
	        </center>
	    </div>
    </div>
</div>