<div class="account-area escort-account escort-account-settings">
    <div class="account-settings">

        <div class="content step2-thnk">
        	<span class="title">Thank you!</span>
        	<div class="letter"></div>
        	<span class="desc">We have got your request</span>
        	<button>Back</button>
        </div>

    </div>
</div>