<div class="account-area escort-account escort-account-settings">
    <div class="account-settings">

        <div class="header arrow-step1"><span>{{ t('base', 'Select a category issue') }}</span></div>

        <div class="content">
            <div class="help-step1"></div>
        </div>

    </div>
</div>