<div class="bubbles-area">
    <ul class="dummy ajaxLoader">
        <li class="pos_1"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_2"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_3"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_4"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_5"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_6"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_7"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_8"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_9"><img  src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_10"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_11"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_12"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_13"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_14"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_15"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_16"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_17"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_18"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_19"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_20"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_21"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_22"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_23"><img src="/frontend/img/blank.png" alt=""></li>
        <li class="pos_24"><img src="/frontend/img/blank.png" alt=""></li>
    </ul>
</div>
