<div class="user-ava-status">
    <img src="http://lorempixel.com/200/200/people/" alt=""/>
    <div class="mini-ava-img">
        <div class="com-img"></div>
    </div>
    <div class="user-status"></div>
</div>
<div class="user-header">
    <div class="user-name">Sister ViceJesica</div>
    <div class="user-action">Coment your photo</div>
    <span class="user-action-date">17 November 2014, 16:40</span>
</div>
<div class="content">
    <span class="content-text">
        Nice Photo! Pretty!
        good!
    </span>
</div>
<div class="reply-btn">
    Reply
    <div class="reply-img"></div>
</div>
<div class="user-coment-photo">
    <img src="http://lorempixel.com/600/600/people/" alt=""/>
</div>

<div class="new-message-field">
    <form method="post" action="new-message">
        <textarea></textarea>
        <button class="sub-btn" type="submit">Send</button>
    </form>
</div>