<div class="header">
    <span>{{ t('base', 'Кредиты') }}</span>
    <img src="{{ service.logoImage }}" alt="{{ service.name }}" />
</div>

{% include service.balanceView %}
{% include service.formView %}
